<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/custom.css">
</head>
<body>
    <div class="container">
	  <div class="nav-scroller py-1 mb-2">
	    <nav class="nav d-flex">
	      <a class="p-2 text-muted" href="https://github.com/saraNgolestani/trudeau_posts">Github Repository</a>
	      <a class="p-2 text-muted" href="mailto:sarah.gln.97@gmail.com">Contact Me</a>
	    </nav>
	  </div>

	  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
	    <div class="col-md-6 px-0">
	      <h1 class="display-5 font-italic">J. Trudeau in Social</h1>
	      <p class="lead my-4">This page would crawl into CNN and Twitter in order to find most recent posts of J. Trudeau and displays them.</p>
	      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"></a></p>
	    </div>
	  </div>

	  <div class="row mb-2">
	    <div class="col-md-6" id="twitter-col">

	      <!-- repeate this section -->
	      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
	        <div class="col p-4 d-flex flex-column position-static">
	          <!-- category -->
	          <strong class="d-inline-block mb-2 text-primary">Twitter</strong>
	          <!-- title -->
	          <h3 class="mb-0 limit-title">Loading data from Twitter and analyzing tonality...</h3>
	          <!-- publishDate -->
	          <div class="mb-1 text-muted">This process may take more than 2 minutes, due to free version of watson API.</div>
			  <!-- content -->
	          <p class="card-text mb-auto limit-content"></p>
			  <a  class="stretched-link" target="_blank">Please wait</a>

	        </div>
	      </div>

	    </div>
	    <div class="col-md-6" id="cnn-col">

	      <!-- repeate this section -->
	      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm  position-relative">
	        <div class="col p-4 d-flex flex-column position-static">
	          <!-- category -->
	          <strong class="d-inline-block mb-2 text-success">CNN</strong>
	          <!-- title -->
			  <h3 class="mb-0 title">Loading data from CNN and analyzing tonality...</h3>
	          <!-- publishDate -->
			  <div class="mb-1 text-muted">This process may take more than 2 minutes, due to free version of watson API.</div>
			  <!-- content -->
	          <p class="card-text mb-auto">

	          </p>
				<a  class="stretched-link" target="_blank">Please wait</a>
			</div>
	      </div>

	    </div>
	  </div>
    </div>
	<footer class="blog-footer">
	  <p>Created by <a href="https://github.com/saraNgolestani">Sara</a>.</p>
	  <p>
	    <a href="#">Back to top</a>
	  </p>
	</footer>
	<script src="../static/scripts.js"></script>
	<script>
        getCnnData();
        getTwitterData();
	</script>
</body>
</body>
</html>